@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer base {
    :root {
        --background: 48 55.6% 98.2%;
        --foreground: 0 0% 10.2%;
        --card: 48 55.6% 98.2%;
        --card-foreground: 0 0% 10.2%;
        --popover: 48 55.6% 98.2%;
        --popover-foreground: 0 0% 10.2%;
        --primary: 151 68.7% 18.8%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 151 68.7% 18.8%;
        --muted: 0 0% 45.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 45 64.6% 52.4%;
        --accent-foreground: 0 0% 10.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 151 68.7% 18.8%;
        --warning: 38 92% 50%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 0 0% 2%;
        --foreground: 0 0% 89.8%;
        --card: 0 0% 2%;
        --card-foreground: 0 0% 89.8%;
        --popover: 0 0% 2%;
        --popover-foreground: 0 0% 89.8%;
        --primary: 159 61% 50%;
        --primary-foreground: 0 0% 10%;
        --secondary: 0 0% 12.2%;
        --secondary-foreground: 0 0% 89.8%;
        --muted: 0 0% 63.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 38 95% 56%;
        --accent-foreground: 0 0% 10%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 15%;
        --input: 0 0% 15%;
        --ring: 159 61% 50%;
        --warning: 38 92% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    [data-debug-wrapper="true"] {
        display: contents !important;
    }

    [data-debug-wrapper="true"] > * {
        margin-left: inherit;
        margin-right: inherit;
        margin-top: inherit;
        margin-bottom: inherit;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: inherit;
        padding-bottom: inherit;
        column-gap: inherit;
        row-gap: inherit;
        gap: inherit;
        border-left-width: inherit;
        border-right-width: inherit;
        border-top-width: inherit;
        border-bottom-width: inherit;
        border-left-style: inherit;
        border-right-style: inherit;
        border-top-style: inherit;
        border-bottom-style: inherit;
        border-left-color: inherit;
        border-right-color: inherit;
        border-top-color: inherit;
        border-bottom-color: inherit;
    }
}
